<%= form_with(model: reviewer) do |form| %>
  <% if reviewer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reviewer.errors.count, "error") %> prohibited this reviewer from being saved:</h2>

      <ul>
        <% reviewer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tamu_department_id %>
	  <%= form.collection_select :tamu_department_id, TamuDepartment.all, :id, :tamu_department_name %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, User.where(id: current_user), :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
