<p id="notice"><%= notice %></p>

<h1>Reviewers</h1>

<table>
  <thead>
    <tr>
      <th>Tamu department</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviewers.each do |reviewer| %>
      <tr>
        <td><%= User.where(id: User.user_id).last.name %></td>
        <td><%= TamuDepartment.where(id: reviewer.tamu_department_id).last.tamu_department_name %></td>
        <td><%= link_to 'Show', reviewer %></td>
        <td><%= link_to 'Edit', edit_reviewer_path(reviewer) %></td>
        <td><%= link_to 'Destroy', reviewer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reviewer', new_reviewer_path %>
