<p id="notice"><%= notice %></p>

<p>
  <strong>Tamu department:</strong>
  <%= @reviewer.tamu_department_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @reviewer.user %>
</p>

<%= link_to 'Edit', edit_reviewer_path(@reviewer) %> |
<%= link_to 'Back', reviewers_path %>
