<h1 style="padding-left: 5%">Pending Reviewer Approved</h1>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
}
.center {
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<table class="center">
  <thead>
    <tr>
        <th>Syllabus PDF</th>
        <th>Semester Abroad</th>
        <th>Foreign School Name</th>
        <th>Texas A&M Universtiy Course Department</th>
        <th>Texas A&M Universtiy Course Number</th>
        <th>Student Major</th>
        <th>Student Classification</th>
        <th>Student Email</th>
        <th>Approve/Reject</th>
    </tr>
  </thead>

  <tbody>
    <% @foreign_courses_students.each do |foreign_courses_student| %>
      <tr>
        <td><%= link_to ForeignCourse.find_by_id(foreign_courses_student.foreign_course_id).syllabus.filename, rails_blob_path(ForeignCourse.find_by_id(foreign_courses_student.foreign_course_id).syllabus, disposition: :attachment) %></td>
        <td><%= ForeignCourse.find_by_id(foreign_courses_student.foreign_course_id).semester_approved %></td>
        <td><%= University.where(id: ForeignCourse.find_by_id(foreign_courses_student.foreign_course_id).university_id).last.university_name %></td>
        <td><%= TamuDepartment.where(id: ForeignCourse.find_by_id(foreign_courses_student.foreign_course_id).tamu_department_id).last.tamu_department_name %></td>
        <td><%= TamuCourse.where(id: ForeignCoursesTamuCourse.where(foreign_course_id: ForeignCourse.find_by_id(foreign_courses_student.foreign_course_id).id).last.tamu_course_id).last.course_num%></td>
        <td><%= Student.find_by(id: foreign_courses_student.student_id).tamu_major %></td>
        <td><%= Student.find_by(id: foreign_courses_student.student_id).classification %></td>
        <td><%= User.find_by(id: Student.find_by(id: foreign_courses_student.student_id).user_id).email %></td>
        <td>
          <%= form_with(model: foreign_courses_student ) do |form| %>
            <% if foreign_courses_student.foreign_course_id == ForeignCourse.find_by_id(foreign_courses_student.foreign_course_id).id %>
              <p>Current Status: 
                  Pending... </p>
              <%= form.select :admin_course_approval, [["Approve",true], ["Reject", nil]] %>          
              <div class="actions">
                <%= form.submit %>
              </div>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>