<h1 style="padding-left: 5%">Pending Reviewer Approved</h1>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
}
.center {
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<table class="center">
  <thead>
    <tr>
        <th>Syllabus PDF</th>
        <th>Semester Approved</th>
        <th>Foreign Course Department</th>
        <th>Foreign Course Number</th>
        <th>Foreign Course Name</th>
        <th>Foreign School Name</th>
        <th>TAMU Course Department</th>
        <th>TAMU Course Number</th>
        <th>Reviewer</th>
    </tr>
  </thead>

  <tbody>
    <% @foreign_courses.each do |foreign_course| %>
      <tr>
        <td><%= foreign_course.instructor %></td>
        <td><%= foreign_course.semester_approved %></td>
        <td><%= foreign_course.foreign_course_dept %></td>
        <td><%= foreign_course.foreign_course_num %></td>
        <td><%= foreign_course.foreign_course_name %></td>
        <td><%= University.where(id: foreign_course.university_id).last.university_name %></td>
        <td><%= TamuDepartment.where(id: foreign_course.tamu_department_id).last.tamu_department_name %></td>
        <td><%= TamuCourse.where(tamu_department_id: TamuDepartment.where(id:foreign_course.tamu_department_id)).last%></td>
        <td><%= Reviewer.where(id: foreign_course.tamu_department_id).last.reviewer_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>