<h1 style="padding-left: 5%">Approved Requests</h1>

<style>
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    }
    .center {
    margin-left: auto;
    margin-right: auto;
    }

    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }

    tr:nth-child(even) {
    background-color: #dddddd;
    }
</style>

<table class="center">
  <thead>
    <tr>
      <th>Syllabus PDF</th>
      <th>Semester Approved</th>
      <th>Foreign Course Department</th>
      <th>Foreign Course Number</th>
      <th>Foreign Course Name</th>
      <th>Foreign School Name</th>
      <th>Contact Hours</th>
      <th>Status</th>
      <th>Equivalent Tamu Course</th>
    </tr>
  </thead>

  <tbody>
    <% @foreign_courses.each do |foreign_course| %>
      <tr>
          <td><%= link_to foreign_course.syllabus.filename, rails_blob_path(foreign_course.syllabus, disposition: :attachment) %></td>
          <td><%= foreign_course.semester_approved %></td>
          <td><%= foreign_course.foreign_course_dept %></td>
          <td><%= foreign_course.foreign_course_num %></td>
          <td><%= foreign_course.foreign_course_name %></td>
          <td><%= University.find_by_id(foreign_course.university_id).university_name %></td>
          <td><%= foreign_course.contact_hours %></td>
          <td> Approved </td>
          <td><%= TamuCourse.find_by_id(ForeignCoursesTamuCourse.find_by(foreign_course_id: foreign_course.id).tamu_course_id).course_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>