<%= form_with(model: foreign_course) do |form| %>
  <% if foreign_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(foreign_course.errors.count, "error") %> prohibited this foreign_course from being saved:</h2>

      <ul>
        <% foreign_course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :foreign_course_name %>
    <%= form.text_field :foreign_course_name %>
  </div>

  <div class="field">
    <%= form.label :semester_approved %>
    <%= form.text_field :semester_approved %>
  </div>
  
  <div class="field">
    <%= form.label :tamu_department_id %>
    <%= form.collection_select :tamu_department_id, TamuDepartment.all, :id, :tamu_department_name %>
  </div>	

  <div class="field">
    <%= form.label :university_id %>
    <%= form.collection_select :university_id, University.all, :id, :university_name %>
  </div>

  <div class="field">
    <%= form.label :foreign_course_num %>
    <%= form.number_field :foreign_course_num %>
  </div>

  <div class="field">
    <%= form.label :foreign_course_dept %>
    <%= form.text_field :foreign_course_dept %>
  </div>

  <% if @student %>
    <div class="field">
      <%= form.label :syllabus %>
      <%= form.file_field :syllabus %>
    </div>
  <% end %>

  <% if @reviewer %>
    <div class="field">
      <%= form.label :contact_hours %>
      <%= form.number_field :contact_hours %>
    </div>

    <div class="field">
      <%= form.label :course_approval_status %>
      <%= form.check_box :course_approval_status %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
