<%= bootstrap_form_with(model: foreign_course) do |form| %>
  <% if foreign_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(foreign_course.errors.count, "error") %> prohibited this foreign_course from being saved:</h2>

      <ul>
        <% foreign_course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @reviewer or current_user.role == 2%>
    <div class="containter-sm">
      <div class="row">
        <div class="col-3">Foreign Course Name:</div>
        <div class="col-9"><%= foreign_course.foreign_course_name %></div>
      </div>
      <div class="row">
        <div class="col-3">Semester Abroad:</div>
        <div class="col-9"><%= foreign_course.semester_approved %></div>
      </div>
      <div class="row">
        <div class="col-3">University:</div>
        <div class="col-9"><%= University.find_by(id: foreign_course.university_id).university_name %></div>
      </div>
      <div class="row">
        <div class="col-3">Foreign Course Number:</div>
        <div class="col-9"><%= foreign_course.foreign_course_num %></div>
      </div>
      <div class="row">
        <div class="col-3">Foreign Course Name:</div>
        <div class="col-9"><%= foreign_course.foreign_course_name %></div>
      </div>
      <div class="row">
        <div class="col-3">Syllabus:</div>
        <div class="col-9"><%= link_to foreign_course.syllabus.filename, rails_blob_path(foreign_course.syllabus, disposition: :attachment) %></div>
      </div>
    </div>
    <hr class="bg-danger border-2 border-top border-danger">
    <%= form.collection_select :tamu_course_id, @reviewer_courses, :id, :course_name, label: "Texas A&M University Course" %>
    <%= form.number_field :contact_hours %>
    <%= form.select :course_approval_status, [["Approve",true], ["Reject", nil]] %>
    <%= form.text_area :comments, placeholder: "If rejecting request, please give a reason." %>
  <% elsif @student or current_user.role == 1%>
    <%= form.text_field :foreign_course_name, placeholder: "ex. Introduction to Finance" %>
    <%= form.select :sem, ["Spring", "Summer 1", "Summer 2", "Fall"], label: "Semester abroad" %>
    <%= form.select :year, Date.today.year .. Date.today.year + 4, skip_label: true %>
    <%= form.collection_select :university_id, University.all, :id, :university_name %>
    <%= form.text_field :foreign_course_dept, label: "Foreign course department", placeholder: "Finance" %>
    <%= form.number_field :foreign_course_num, label: "Foreign course number", placeholder: "1001" %>
    <%= form.file_field :syllabus %>
    <%= form.date_select :start_date %>
    <%= form.date_select :end_date %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
