<p id="notice"><%= notice %></p>

<h1>Foreign Courses</h1>

<table>
  <thead>
    <tr>
      <th>Instructor</th>
      <th>Foreign course name</th>
      <th>Credit hours</th>
      <th>Semester approved</th>
      <th>Tamu department</th>
      <th>University</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foreign_courses.each do |foreign_course| %>
      <tr>
        <td><%= foreign_course.instructor %></td>
        <td><%= foreign_course.foreign_course_name %></td>
        <td><%= foreign_course.credit_hours %></td>
        <td><%= foreign_course.semester_approved %></td>
        <td><%= TamuDepartment.where(id: foreign_course.tamu_department_id).last.tamu_department_name %></td>
        <td><%= University.where(id: foreign_course.university_id).last.university_name %></td>
        <td><%= link_to 'Show', foreign_course %></td>
        <td><%= link_to 'Edit', edit_foreign_course_path(foreign_course) %></td>
        <td><%= link_to 'Destroy', foreign_course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foreign Course', new_foreign_course_path %>

<%= link_to 'New Foreign Course & Tamu Course', new_foreign_courses_tamu_course_path %>
