<p id="notice"><%= notice %></p>

<p>
  <strong>Tamu department:</strong>
  <%= @foreign_course.tamu_department_id %>
</p>

<p>
  <strong>Foreign course name:</strong>
  <%= @foreign_course.foreign_course_name %>
</p>

<p>
  <strong>Contact hours:</strong>
  <%= @foreign_course.contact_hours %>
</p>

<p>
  <strong>Semester approved:</strong>
  <%= @foreign_course.semester_approved %>
</p>

<p>
  <strong>Foreign course dept:</strong>
  <%= @foreign_course.foreign_course_dept %>
</p>

<p>
  <strong>Foreign course num:</strong>
  <%= @foreign_course.foreign_course_num %>
</p>

<p>
  <strong>Course approval status:</strong>
  <%= @foreign_course.course_approval_status %>
</p>

<%= link_to 'Edit', edit_foreign_course_path(@foreign_course) %> |
<%= link_to 'Back', foreign_courses_path %>
