<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_email %>
    <%= form.text_field :student_email %>
  </div>

  <div class="field">
    <%= form.label :student_name %>
    <%= form.text_field :student_name %>
  </div>

    <%= form.label :tamu_department_id %>
    <%= form.collection_select :tamu_department_id, TamuDepartment.all, :id, :tamu_department_name %>
    <%#= form.number_field :tamu_department_id %>
  </div>	

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
