<%= bootstrap_form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :user_display, value: current_user.name, disabled: true, label: "Name" %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.select :tamu_college, $colleges, label: "Texas A&M College" %>
  <%= form.collection_select :tamu_department_id, TamuDepartment.all, :id, :tamu_department_name, label: "Texas A&M Department" %>
  <%= form.select :tamu_major, $majors, label: "Texas A&M Major" %>
  <%= form.select :classification, ["U0", "U1", "U2", "U3", "U4", "U5"] %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
