<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th>Texas A&M Universtiy department</th>
      <th>User</th>
      <th>Texas A&M Universtiy major</th>
      <th>Texas A&M Universtiy college</th>
      <th>Classification</th>
      <th>Table ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= TamuDepartment.where(id: student.tamu_department_id).last.tamu_department_name %></td>
        <td><%= User.where(id: student.user_id).last.name %></td>
        <td><%= student.tamu_major %></td>
        <td><%= student.tamu_college %></td>
        <td><%= student.classification %></td>
        <td><%= student.id %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
