<p id="notice"><%= notice %></p>
<h1> Your Information </h1>
<p>
  <strong>Tamu department:</strong>
  <%= @student.tamu_department_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @student.user_id %>
</p>

<p>
  <strong>Tamu major:</strong>
  <%= @student.tamu_major %>
</p>

<p>
  <strong>Tamu college:</strong>
  <%= @student.tamu_college %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @student.classification %>
</p>
