<nav class="navbar navbar-expand-lg navbar-dark ">
  <a class="navbar-brand" href="home">CIBS Syllabus Organizer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav"> 
      <% if User.find(current_user.id) != nil && Student.find_by_id(current_user.id) != nil %> <!-- if role student  / if the current_user.id in the user table-->
        <li class="nav-item nav-link active"><%= link_to_unless_current("My Requests", my_requests_path) %></li>
        <!-- <li class="nav-item nav-link active"><%= link_to_unless_current("All Requests", all_requests_path) %></li> -->
        <li class="nav-item nav-link active"><%= link_to_unless_current("Approved Requests", approved_requests_students_path) %></li>
        <li class="nav-item nav-link active"><%= link_to_unless_current("New Request", new_request_path) %></li>
        <a class="nav-item nav-link active" href="/students/<%= current_user.id %>/edit"> Edit Student ID </a>
        <!-- <li class="nav-item nav-link active"><%= link_to_unless_current("Student Guide", ) %></li> NOT CREATED YET --> 
      <% elsif User.find(current_user.id) != nil && Admin.find_by_id(current_user.id) != nil%> <!-- if role admin-->
        <li class="nav-item nav-link active"><%= link_to_unless_current("Assign Reviewer", assign_reviewer_path) %></li>
        <li class="nav-item nav-link active"><%= link_to_unless_current("Pending Reviewer Approved", pending_reviewer_approved_path) %></li>
        <li class="nav-item nav-link active"><%= link_to_unless_current("All Course Requests", all_course_requests_path) %></li>
      <% else %> <!-- if role reviewer -->
        <li class="nav-item nav-link active"><%= link_to_unless_current("Pending Requests", pending_requests_path) %></li>
        <li class="nav-item nav-link active"><%= link_to_unless_current("Approved Requests", approved_requests_reviewers_path) %></li>
      <% end %>
    </ul>
  </div>
</nav>