<p id="notice"><%= notice %></p>

<p>
  <strong>Foreign course:</strong>
  <%= @foreign_course_tamu_course.foreign_course_id %>
</p>

<p>
  <strong>Tamu course:</strong>
  <%= @foreign_course_tamu_course.tamu_course_id %>
</p>

<%= link_to 'Edit', edit_foreign_course_tamu_course_path(@foreign_course_tamu_course) %> |
<%= link_to 'Back', foreign_course_tamu_courses_path %>
