<h1>Welcome to Reviewer View, <%= current_user.name %></h1>

<% @reviewers = Reviewer.where(user_id: current_user.id)%>
<% @reviewer_found = Reviewer.find_by_id(@reviewers[0])%>
<p> reviewers at user_id <%= current_user.id %>: <%= @reviewers %></p>
<p> reviewer_found: <%= @reviewers_found %></p>
<% if @reviewer_found == nil %> 
    <%= link_to 'New Reviewer', new_reviewer_path %>      
<% else %>
    <p> Reviewer already created for user_id <%= current_user.id %></p>
<% end %>