<h1>Welcome to Student View, <%= current_user.name %>!</h1>
<p> UID: <%= current_user.uid %></p>
<p> students at user_id <%= current_user.id %>: <%= @students %></p>
<p> student_found: <%= @student_found %></p>
<% if @student_found == nil %> 
    <%= link_to 'New Student', new_student_path %>      
<% else %>
<% @students.each do |student| %>
  <tr>
    <td><%= student.tamu_major %></td>
    <td><%= student.tamu_college %></td>
  </tr>
<% end %>
<% end %>
