<%= form_with(model: foreign_courses_tamu_course) do |form| %>
  <% if foreign_courses_tamu_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(foreign_courses_tamu_course.errors.count, "error") %> prohibited this foreign_courses_tamu_course from being saved:</h2>

      <ul>
        <% foreign_courses_tamu_course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :foreign_course_id %>
    <%= form.collection_select :foreign_course_id, ForeignCourse.all, :id, :foreign_course_name %>
  </div>
  
  <div class="field">
    <%= form.label :tamu_course %>
    <%= form.collection_select :tamu_course_id, TamuCourse.all, :id, :id %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
