<%= bootstrap_form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :name, value: user.name, disabled: true %>
  <%= form.text_field :email, value: user.email, disabled: true %>
  <%= form.select :role, [["Admin", 0], ["Student", 1], ["Reviewer", 2]] %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
