<h1 style="padding-left: 5%">Pending Requests</h1>

<style>
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    }
    .center {
    margin-left: auto;
    margin-right: auto;
    }

    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }

    tr:nth-child(even) {
    background-color: #dddddd;
    }
</style>

<table class="center">
  <thead>
    <tr>
      <th>Syllabus PDF</th>
      <th>Semester Approved</th>
      <th>Foreign Course Department</th>
      <th>Foreign Course Number</th>
      <th>Foreign Course Name</th>
      <th>Foreign School Name</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @foreign_courses.each do |foreign_course| %> <-- 
        <% if true %> # this needs to be the specific reviewer logged in 
        # curr_user is reviewer and user_id.get tamu_department id == Reviewers.where(tamu_department_id: Tamu_departments.where(id: foreign_course.tamu_department_id))
        #  curr_user is reviwers department && Reviewers.where(tamu_department_id: Tamu_departments.where(id: foreign_course.tamu_department_id))
            <tr>
                <td><%= foreign_course.instructor %></td>
                <td><%= foreign_course.semester_approved %></td>
                <td><%= foreign_course.foreign_course_dept %></td>
                <td><%= foreign_course.foreign_course_num %></td>
                <td><%= foreign_course.foreign_course_name %></td>
                <td><%= University.where(id: foreign_course.university_id).last.university_name %></td>
                <% if foreign_course.course_approval_status == true %> # would be the final pending approval 
                    <td> Approved </td>
                <% else %>
                    <td> Pending... </td>
                <% end %>
            </tr>
        <% end %>
    <% end %>
  </tbody>
</table>