<%= form_with(model: tamu_course) do |form| %>
  <% if tamu_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tamu_course.errors.count, "error") %> prohibited this tamu_course from being saved:</h2>

      <ul>
        <% tamu_course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tamu_department_id %>
    <%= form.number_field :tamu_department_id %>
  </div>

  <div class="field">
    <%= form.label :course_num %>
    <%= form.number_field :course_num %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
