<!-- approved requests for students-->

<h1 style="padding-left: 5%">Approved Requests</h1>

<style>
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    }
    .center {
    margin-left: auto;
    margin-right: auto;
    }

    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }

    tr:nth-child(even) {
    background-color: #dddddd;
    }
</style>

<table class="center">
  <thead>
    <tr>
      <th>Syllabus PDF</th>
      <th>Semester Approved</th>
      <th>Foreign Course Department</th>
      <th>Foreign Course Number</th>
      <th>Foreign Course Name</th>
      <th>Foreign School Name</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @foreign_courses.each do |foreign_course| %>
        <% if foreign_course.course_approval_status == true && ForeignCoursesStudent.where(foreign_course_id: foreign_course.id).last.admin_course_approval %> <!-- Show only if the course_approval_status is true / change this to the amdmins final approval-->
            <tr>
                <td><%= link_to foreign_course.syllabus.filename, rails_blob_path(foreign_course.syllabus, disposition: :attachment) %></td>
                <td><%= foreign_course.semester_approved %></td>
                <td><%= foreign_course.foreign_course_dept %></td>
                <td><%= foreign_course.foreign_course_num %></td>
                <td><%= foreign_course.foreign_course_name %></td>
                <td><%= University.where(id: foreign_course.university_id).last.university_name %></td>
                <% if foreign_course.course_approval_status == true %> <!-- would be the final pending approval // admin course approval from the foreign_coruses_students -->
                    <td> Approved </td>
                <% else %>
                    <td> Pending... </td>
                <% end %>
            </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<%= button_to "New Request +", new_request_path, :id => "open-contacts-dialog-btn", :class => "btn btn-secondary", :method => :get, :style => "position: relative; right: -5%; top: -5%" %>

