<h1 style="padding-left: 5%">Assign Reviewer</h1>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
}
.center {
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<table class="center">
  <thead>
    <tr>
      <th>Syllabus PDF</th>
      <th>Semester Abroad</th>
      <th>Foreign Course Department</th>
      <th>Foreign Course Number</th>
      <th>Foreign Course Name</th>
      <th>Foreign School Name</th>
      <th>Status</th>
      <th>Department</th>
    </tr>
  </thead>

  <tbody>
    <% @foreign_courses.each do |foreign_course| %>
      <tr>
        <td><%= link_to foreign_course.syllabus.filename, rails_blob_path(foreign_course.syllabus, disposition: :attachment) %></td>
        <td><%= foreign_course.semester_approved %></td>
        <td><%= foreign_course.foreign_course_dept %></td>
        <td><%= foreign_course.foreign_course_num %></td>
        <td><%= foreign_course.foreign_course_name %></td>
        <td><%= University.where(id: foreign_course.university_id).last.university_name %></td>
        <% if foreign_course.course_approval_status == true %>
            <td> Approved </td>
        <% else %>
            <td> Pending... </td>
        <% end %>
        <td>
          <%= form_with(model: foreign_course) do |form| %>
            <p>Current: <%= TamuDepartment.find_by_id( foreign_course.tamu_department_id).tamu_department_name %></p>
            <%= form.collection_select :tamu_department_id, TamuDepartment.all, :id, :tamu_department_name %>          
          <div class="actions">
            <%= form.submit %>
          </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>