<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @university.country %>
</p>

<p>
  <strong>University name:</strong>
  <%= @university.university_name %>
</p>

<%= link_to 'Edit', edit_university_path(@university) %> |
<%= link_to 'Back', universities_path %>
