<!DOCTYPE html>
<html>
  <head>
    <title>CibsSyllabusOrganizer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('logo/a&m_transparent.png') %>
  </head>

  <body>
    <% if current_user %>
    <%=    render partial: 'shared/navbar' %>
    <% end %>
    <% if flash.any? %>
      <% flash.each do |key, value| %>
        <% if key == "alert" %>
          <div class="alert alert-danger" role="alert">
            <%= value %>
          </div>
        <% elsif key == "success" %>
          <div class="alert alert-success" role="alert">
            <%= value %>
          </div>
        <% else %>
          <div class="alert alert-info" role="alert">
            <%= value %>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
